.button {
  font: inherit;
  border: 1px solid #5f0000;
  background: #5f0000;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-family: Inter;
}

.button:hover,
.button:active {

}

.button:focus {
  outline: none;
}
