.hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #543435; 
    padding: 10px 20px; 
    border-top: 3px solid #c0a080; 
    border-bottom: 3px solid #c0a080; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: cursive;
  }
  
  .hdr h1 {
    color: white;
    margin: 0; 
    font-size: 1.5rem; 
  }
  
  .button {
    width: 100px;
    height: 44px;
    flex-shrink: 0;
    color: #fff9ef;
    border: 3px solid #fff9ef;
    border-radius: 10px;
    background: #c07b72;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .button:hover {
    background-color: #9c6b30; 

  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-overlay {
    bsckground:blur;
  }
  
  .login-section {
    height: 1000 px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: rgb(255,249,239,.75) url(../resources/kitchen-tools.jpg) repeat-x center center/contain ;

  }
  
  