:root{ 
    --dark-accent-brown: #543435; 
    --light-accent-clay:#c07b72;
    --background-cream:#fff9ef;
    --light-item-peach: #edd8c8;
    --dark-item-orange: #efbea5; 
}
body {
    background: var(--background-cream);
    padding:0; 
    margin:0; 
    border: 0; 
}
.login-section{
   height: 500 px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: rgb(255,249,239,.75) url(../resources/kitchen-tools.jpg) repeat-x center center/contain ;
}
.login-container {
    text-align:center;
    width: 335px;
    height: 330px;
    padding: 10px;
    margin:20px;
    border: 2px solid var(--light-accent-clay);
    flex-shrink: 0;
    background-color:var(--light-item-peach) ;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.logo {
    max-width: 75%;
    height: auto;
    margin-bottom: 2px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-color:var(--dark-accent-brown) ;
    border-radius: 5px;
    color: var(--background-cream);
    background-color: var(--light-accent-clay); 
}

.login-button {
    width: 35%;
    padding: 10px;
    background-color: var(--dark-accent-brown);
    color: var(--background-cream);
    border-radius: 5px;
    cursor: pointer;
}
input::placeholder{ 
    color:#fff;
}
#caption{
    color: var(--dark-accent-brown);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.close-button{
    color: var(--background-cream);
    background-color: var(--dark-accent-brown);
    position: absolute; 
    top: 10px;
    right: 10px;
    font-size: 12px; 
    width: 20px; 
    height: 20px; 
    line-height: 20px; 
    padding: 0; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; 
}

.close-button:hover {
    cursor: pointer; 
}

