<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginForm.css">
    <title>Login Form</title>
</head>
<body>
    <sec class = "login-section">
    <div class="login-container">
        <img src="../resources/logo (2).png" alt="Logo" class="logo">
        <p id="caption"> Sign in to generate your own recipe book using only what you have in your kitchen! </p>
        <form class="login-form" action="#" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit" class="login-button">Login</button>

        </form>
    </div>
</sec>
</body>
</html>
