<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recipeCard.css">
    <title>Login Form</title>
</head>
<body>
    
    <div class="card">
        <h1 id="Title"> Recipe Names are Long...</h1>
        <div class = "card-content">
      
            <img src="../resources/dummy-img.png" alt="Logo" class="circle-image">
       
       <sec class = "description">
        <p> This is the recipe description</p>
       </sec>
      <div class = "ingredient">
        <h4 id= "List-Lable">Ingredients:</h4>
        <ul class = "Ingredient-List">
            <li>Ingredient 1</li>
            <li>Ingredient 2</li>
            <li>Ingredient 3</li>
            <li>...</li>
        </ul>
    </div>
        <button>Add To Book</button>
    </div>
    </div>

</body>
</html>