:root{ 
  --dark-accent-brown: #543435; 
  --light-accent-clay:#c07b72;
  --background-cream:#fff9ef;
  --light-item-peach: #edd8c8;
  --dark-item-orange: #efbea5; 
}

.input {
  color: #fff9ef;
  background-color: #c07b72;
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  max-width: 90rem;
}

label {
  display:inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#major {
  width: 400px;
height: 19px;
flex-shrink: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-color:var(--dark-accent-brown) ;
  border-radius: 5px;
  color: #fff;
  background-color: var(--light-accent-clay); 
}

.input input:focus {
  outline: none;
  width:75%;
  border-color: var(--dark-accent-brown);
}
#search-button{
background-color: var(--dark-accent-brown);
text-align: center;

}
.search-bar{

  margin:5px;
  padding:20px;
border-radius: 10px;
  text-align: center;
  background-color: var(--background-cream);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--dark-accent-brown);
}
#search-inst{
  color: var(--dark-accent-brown); 
}
#search-form{
  display: flex;
}
.add-button{
  width: 85px;
  height: 44px;
  flex-shrink: 0;
  color: #fff9ef;
  border: 3px solid #fff9ef;
  border-radius: 10px;
  background: #c07b72;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#ingredients{
  color:#edd8c8; 
  background-color: #c07b72;
  border:1px solid var(--dark-accent-brown); 
}
.logo{
  width: 200px;
  margin:3px;
padding:0;
}