:root{ 
  --dark-accent-brown: #543435; 
  --light-accent-clay:#c07b72;
  --background-cream:#fff9ef;
  --light-item-peach: #edd8c8;
  --dark-item-orange: #efbea5; 
}
.users {
    flex: 50%;
    padding: 10px;
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;

  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    border: 1px solid #cccccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
